<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-sm">
  <div class="flex max-w-screen-xl flex-wrap items-center justify-between mx-auto p-2">
    <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center"
      (click)="reloadPage()">
      <img src="/assets/images/logo_sfia.png" class="h-9" />
    </a>
    <div class="w-1/12"></div>
    <div class="w-4/12">
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
        <ul
          class="flex flex-col text-sm md:text-base font-medium p-3 md:p-0 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLink="/" (click)="reloadPage()" class="from-left">Home</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/download" class="from-left">Download</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/reference" class="from-left">Reference</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/about" class="from-left">About us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex md:order-3">
      <div class="grid justify-items-end" *ngIf="authenticated">
        <button mat-button [matMenuTriggerFor]="menu" type="button"
          class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button" aria-expanded="false" data-dropdown-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </button>
        <mat-menu #menu="matMenu" class="w-44 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-300 border">
          <button mat-menu-item routerLink="/profile">
            <i class="fas fa-user mr-2"></i> Profile
          </button>
          <button mat-menu-item routerLink="/history">
            <i class="fas fa-history mr-2"></i> History
          </button>
          <button mat-menu-item routerLink="/portfolio">
            <i class="fas fa-chart-pie mr-2"></i> Portfolio
          </button>
          <button mat-menu-item (click)="logOut()">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </button>
        </mat-menu>
      </div>

      <div class="flex items-center md:order-3" *ngIf="!authenticated">
        <a routerLink="/login"
          class="bg-gray-200 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-l-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
        <a routerLink="/register"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-r-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign
          up</a>
      </div>

      <button data-collapse-toggle="navbar-cta" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
  </div>
</nav>