nav {
    margin-top: 70px;
}

.container svg{
    margin: -30px -20px;
}

.nav-link{
    text-transform: uppercase;
    color: var(--body-text-color);
}

.spacer {
    flex: 500; /*before 1*/
  }

  .button-bg {
    background-color: #9AD0EC;
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: -6px 10px;
    cursor: pointer;
  }