<div class="grid justify-items-center">
    <div>
        <h5 class="text-center pb-4 text-xl font-semibold text-center">About us</h5>
    </div>

    <div class="w-7/12 ">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg" alt="">
            </div>
            <div class="grid grid-cols-5 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="grid justify-items-center">   
        <a class="text-center block w-10/12 p-6 bg-white">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">“สมรรถนะ” นั้นต้องวัดได้อย่างมี “มาตรฐาน” </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">เป็นระบบ เพื่อที่สามารถจะใช้เป็นเครื่องมือในการพัฒนากำลังคนของประเทศได้อย่างมีประสิทธิภาพ อันจะเป็นการส่งเสริมและช่วยเหลือส่วนราชการหรือหน่วยงานของรัฐในการพัฒนากำลังคนให้สามารถทำงานได้ตรงตาม ความต้องการของตลาดแรงงานมากยิ่งขึ้นนำไปสู่การเพิ่มขีดความสามารถ ในการแข่งขันของประเทศอย่างมีประสิทธิภาพ</p>
        </a>
    </div>
</div>
