<div class="container max-w-screen-xl mx-auto mb-3 mt-8">
    <p class="font-bold text-xl text-center font-extrabold pb-2">About us</p>
    <div class="w-full mb-2">
        <div class="h-1 mx-auto gradient w-44 opacity-40 my-0 py-0 rounded-t"></div>
    </div>
    <div class="grid grid-cols-3 gap-4 align-items-center justify-content-center bg-white rounded-lg">
        <div>
            <img class="max-h-fit rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
        </div>
        <div class="col-span-2">
            <div class="text-lg mb-3">
                SFIA defines the skills and competencies required by
                professionals who design, develop, implement, manage and protect the data and technology that power the
                digital world.
            </div>
            <div class="text-sm">
                SFIA was formally launched in 2000. Its origin can be traced back to collaborative skills initiatives
                from the 1980s. The SFIA Foundation was formed as an international not-for-profit foundation that brings
                together the global community to develop and maintain the SFIA Framework for the benefit of all.
            </div>
        </div>
    </div>

    <div class="pt-10">
        <p class="text-center text-xl font-semibold">Learn About our Team</p>
        <div class="grid-cols-3 gap-3 pt-6 flex items-center justify-between">
            <div class="col-span-1 ">
                <div class="max-w-xs">
                    <div class="shadow-md rounded-xl overflow-hidden ">
                        <div class="grayscale-[20%] overflow-hidden">
                            <img style="object-position: 50% 30%;" class="object-cover h-64 w-80 object-top"
                                src="/assets/images/1166-16-222.jpg">
                        </div>

                        <div class="bg-white">
                            <div class="text-center">
                                <p class="text-base font-semibold italic text-gray-700 mt-2">Kornkanok Rinphon</p>
                                <p class="font-light text-sm text-gray-600">B.Eng. (Computer Engineering)</p>
                                <p class="font-light text-xs text-gray-600 mt-1">
                                    Faculty of Engineering
                                    Naresuan University</p>
                            </div>
                            <div class="text-sm text-gray-700 p-4 space-y-2">
                                <p>Email : kornkanok.dev&#64;gmail.com</p>
                                <p>Tel. : +66 96-6751529</p>
                                <div class="grid justify-items-center text-gray-700 ">
                                    <a href=""
                                        class="hover:underline bg-gray-100 text-gray-800 me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">read
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-400 h-9"></div>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="max-w-xs">
                    <div class="shadow-md rounded-xl overflow-hidden">
                        <div class="grayscale-[20%] overflow-hidden">
                            <img style="object-position: 50% 25%;" class="object-cover h-64 w-80 object-top"
                                src="/assets/images/1166-16-221.jpg">
                        </div>
                        <div class="bg-white">
                            <div class="text-center">
                                <p class="text-base font-semibold italic text-gray-700 mt-2">Phannita Khamsaen</p>
                                <p class="font-light text-sm text-gray-600">B.Eng. (Computer Engineering)</p>
                                <p class="font-light text-xs text-gray-600 mt-1">
                                    Faculty of Engineering
                                    Naresuan University</p>
                            </div>
                            <div class="text-sm text-gray-700 p-4 space-y-2">
                                <p>Email : phannita.forwork16&#64;gmail.com</p>
                                <p>Tel. : +66 97-9343104</p>
                                <div class="grid justify-items-center text-gray-700 ">
                                    <a href=""
                                        class="hover:underline bg-gray-100 text-gray-800 me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">read
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-400 h-9"></div>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="max-w-xs">
                    <div class="shadow-md rounded-xl overflow-hidden">
                        <div class="grayscale-[20%] overflow-hidden">
                            <img style="object-position: 50% 30%;" class="object-cover h-64 w-80 object-top"
                                src="/assets/images/1166-16-220.jpg">
                        </div>
                        <div class="bg-white">
                            <div class="text-center">
                                <p class="text-base font-semibold italic text-gray-700 mt-2">Thanabodee Boonrak</p>
                                <p class="font-light text-sm text-gray-600">B.Eng. (Computer Engineering)</p>
                                <p class="font-light text-xs text-gray-600 mt-1">
                                    Faculty of Engineering
                                    Naresuan University</p>
                            </div>
                            <div class="text-sm text-gray-700 p-4 space-y-2">
                                <p>Email : tanabodeeb.work&#64;gmail.com</p>
                                <p>Tel. : +66 61-826-7404</p>
                                <div class="grid justify-items-center text-gray-700 ">
                                    <a href=""
                                        class="hover:underline bg-gray-100 text-gray-800 me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">read
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-400 h-9"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid-cols-1 mt-4 flex justify-center">
            <div class="col-span-1 mt-4">
                <h1 class="text-lg font-semibold mt-1 text-center mb-3">Advisor</h1>
                <div class="max-w-xs">
                    <div class="shadow-md rounded-xl overflow-hidden">
                        <div class="grayscale-[20%] overflow-hidden">
                            <img style="object-position: 50% 15%;" class="object-cover h-64 w-80 object-top"
                                src="/assets/images/advisor.jpg">
                        </div>
                        <div class="bg-white">
                            <div class="text-center">
                                <p class="text-base font-semibold italic text-gray-700 mt-2">DR. Suradet
                                    Jitprapaikulsarn</p>
                                <p class="font-light text-xs text-gray-600 mt-1">
                                    Faculty of Engineering
                                    Naresuan University</p>
                            </div>
                            <div class="text-sm text-gray-700 p-4 space-y-2">
                                <p>Email : suradet.j&#64;gmail.com</p>
                                <div class="grid justify-items-center text-gray-700 ">
                                    <a href="http://www.ecpe.nu.ac.th/suradet/"
                                        class="hover:underline bg-gray-100 text-gray-800 me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">read
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-400 h-9"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>