.custom-background {
    border-radius: 100% 20% 0 0 / 160px 10px 0 0; 
    background-color: #facc15; 
    padding: 90px; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-us {
    font-family: sans-serif;
}

.What-is-SFIA{
    font-family: sans-serif;
}

.our-Team {
    font-family: sans-serif;
}









