<div class="container max-w-screen-xl mx-auto p-2 mb-3 ">
    <p class="text-center text-3xl font-semibold p-2 pb-4">About us</p>
    <div class="grid grid-cols-3 gap-4 align-items-center justify-content-center">
        <div>
            <img class="max-h-fit rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg"
                alt="Mobirise Website Builder">
        </div>
        <div class="col-span-2">
            <div class="text-lg mb-3">
                SFIA defines the skills and competencies required by
                professionals who design, develop, implement, manage and protect the data and technology that power the
                digital world.
            </div>
            <div class="text-sm">
                SFIA was formally launched in 2000. Its origin can be traced back to collaborative skills initiatives
                from the 1980s. The SFIA Foundation was formed as an international not-for-profit foundation that brings
                together the global community to develop and maintain the SFIA Framework for the benefit of all.
            </div>
        </div>
    </div>

    <div class="pt-10">
        <p class="text-center text-2xl font-semibold">Learn About our Team</p>
        <div class="flex flex-col justify-between md:flex-row pt-5 space-y-5 md:space-y-0 md:space-x-5">
            <div
                class="card1 rounded-lg shadow-lg text-center transition-transform duration-500 ease-in-out cursor-pointer float-left">
                <div class="card-image1"></div>
                <div class="p-3">
                    <p class="text-lg font-semibold mt-3">Kornkanok Rinphon</p>
                    <p class="text-sm">B.Eng. (Computer Engineering)</p>
                    <p class="text-xs text-gray-600 mt-3">Department of Electrical and Computer Engineering (ECPE)
                        Faculty of Engineering
                        Naresuan University</p>
                </div>
                <div class="card-stats1"></div>
            </div>

            <div
                class="card1 rounded-lg shadow-lg text-center transition-transform duration-500 ease-in-out cursor-pointer float-left">
                <div class="card-image2"></div>
                <div class="p-3">
                    <p class="text-lg font-semibold mt-3">Thanabodee Boonrak</p>
                    <p class="text-sm">B.Eng. (Computer Engineering)</p>
                    <p class="text-xs text-gray-600 mt-3">Department of Electrical and Computer Engineering (ECPE)
                        Faculty of Engineering
                        Naresuan University</p>
                </div>
                <div class="card-stats1"></div>
            </div>

            <div
                class="card1 rounded-lg shadow-lg text-center transition-transform duration-500 ease-in-out cursor-pointer float-left">
                <div class="card-image3"></div>
                <div class="p-3">
                    <p class="text-lg font-semibold mt-3">Phannita Khamsaen</p>
                    <p class="text-sm">B.Eng. (Computer Engineering)</p>
                    <p class="text-xs text-gray-600 mt-3">Department of Electrical and Computer Engineering (ECPE)
                        Faculty of Engineering
                        Naresuan University</p>
                </div>
                <div class="card-stats1"></div>
            </div>
            <div
                class="card1 rounded-lg shadow-lg text-center transition-transform duration-500 ease-in-out cursor-pointer float-left">
                <div class="card-image4"></div>
                <div class="p-3">
                    <p class="text-lg font-semibold mt-3">DR. Suradet Jitprapaikulsarn </p>
                    <p class="text-xs text-gray-600 mt-4">Department of Electrical and Computer Engineering (ECPE)
                        Faculty of Engineering
                        Naresuan University</p>
                </div>
                <div class="card-stats1"></div>
            </div>
        </div>
    </div>
</div>