<div class="flex justify-center items-center h-screen">
    <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form (ngSubmit)="recovery()" [formGroup]="recoveryForm" class="space-y-6" action="#">
            <h5 class="text-xl font-semibold text-gray-900 dark:text-white text-center">
                Recovery
            </h5>
            <p class="text-center text-xs">Enter OTP to recover password.</p>
            <div>
                <label for="OTP" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter 6 digit
                    OTP sent to your email address.</label>
                <input formControlName="code" type="text" name="digit" id="digit"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="OTP" required />
            </div>
            <button type="submit"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Recover
            </button>
        </form>
        <div class="text-center py-4">
            <span class="text-gray-500">Can't get OTP? <button class="text-red-500"
                    (click)="resendOTP()">Resend</button></span>
        </div>
    </div>
</div>