<div class="container max-w-screen-md mx-auto mb-3 mt-10">
    <div class="flex justify-center items-center">
        <div
            class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="grid justify-items-center">
                <img class="h-52" src="/assets/images/recovery.jpg">
            </div>
            <form (ngSubmit)="recovery()" [formGroup]="recoveryForm" action="#">
                <div class="space-y-6">
                    <h5 class="text-xl font-semibold text-gray-900 dark:text-white text-center">
                        Recovery
                    </h5>
                    <p class="text-center text-xs">Enter OTP to recover password.</p>
                    <div class="flex justify-center items-center space-x-3 sm:space-x-4">
                        <input (input)="onInput($event, 'code1', 'code2', null)"
                            (keydown)="onKeyDown($event, 'code1', 'code2', null)"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code1" maxlength="1"
                            required>

                        <input (input)="onInput($event, 'code2', 'code3', 'code1')"
                            (keydown)="onKeyDown($event, 'code2', 'code3', 'code1')"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code2" maxlength="1"
                            required>

                        <input (input)="onInput($event, 'code3', 'code4', 'code2')"
                            (keydown)="onKeyDown($event, 'code3', 'code4', 'code2')"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code3" maxlength="1"
                            required>

                        <input (input)="onInput($event, 'code4', 'code5', 'code3')"
                            (keydown)="onKeyDown($event, 'code4', 'code5', 'code3')"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code4" maxlength="1"
                            required>

                        <input (input)="onInput($event, 'code5', 'code6', 'code4')"
                            (keydown)="onKeyDown($event, 'code5', 'code6', 'code4')"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code5" maxlength="1"
                            required>

                        <input (input)="onInput($event, 'code6', 'code6', 'code5')"
                            (keydown)="onKeyDown($event, 'code6', 'code6', 'code5')"
                            class="border-1 border-gray-300 rounded-lg h-12 sm:h-16 w-12 sm:w-16 shadow-md text-center appearance-none"
                            inputmode="numeric" pattern="[0-9]*" type="text" formControlName="code6" maxlength="1"
                            required>
                    </div>
                    <div class="w-full sm:px-14">
                        <button type="submit"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Recover
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center py-4">
                <span class="text-gray-500">Can't get OTP?</span>
                <button type="button" class="text-red-500" (click)="resendOTP()" [disabled]="isLoading">
                    <span *ngIf="isLoading"> Send again in {{ formatTime(timeRemaining) }}</span>
                    <span *ngIf="!isLoading">send</span>
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>