<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div *ngIf="images && images.length > 0 " class="carousel-container">
    <img *ngFor="let image of images; let i=index"
        [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i }"
        class="fade"
    >

    <div *ngIf="indicators" class="carousel-dot-cantainer"> 
        <span *ngFor="let dot of images, let i=index" 
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)"
        >
        </span>
    </div>

    <button *ngIf="controls" class="bth-carousel btn-prev"
        (click)="onPrevClick()"
    >
        <i class="fas fa-arrow-circle-left icon-carousel icon-prve"></i>
    </button>
    <button *ngIf="controls" class="bth-carousel btn-next"
        (click)="onNextClick()"
    >
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </button>

</div>