<div
  class="container mx-auto px-4 md:w-8/12 bg-sky-200 pb-8 pr-5 pl-5 border border-gray-200 rounded-lg shadow-md"
>
  <div class="grid justify-items-center">
    <div class="w-full p-6">
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Project management
      </h5>
      <div>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Overall description: Delivering agreed outcomes from projects using
          appropriate management techniques, collaboration, leadership and
          governance.
        </p>
      </div>
    </div>

    <div class="w-full mx-5 md:mx-10 p-8 bg-white rounded-lg">
      <p class="font-normal text-gray-700 dark:text-gray-400 text-sm">
        This skill is applicable to all project management techniques and life
        cycles — which can be on a continuum from predictive (plan-driven)
        approaches to adaptive (iterative/agile) approaches. Activities may
        include — but are not limited to: selecting techniques and life cycle
        models based on the context of the project establishing team structures
        and a collaborative working environment communicating with stakeholders
        and maintaining awareness of business needs and priorities using visual
        techniques for project tracking and reporting timeboxing and incremental
        deliveries defining deliverables, milestones and dependencies applying
        change control and risk management processes acquiring the necessary
        resources and skills agreeing constraints of cost, timescales, quality
        and scope reviewing experiences and learning from current and previous
        projects ensuring that projects are formally closed and reviewed. An
        understanding of project size and complexity is helpful when applying
        the project management skill. Typical factors that influence project
        complexity include the complexity of resourcing, scale of organisational
        impact, use of new technologies, number of interdependences, stability
        of requirements, business implications, and risks.
      </p>
    </div>
  </div>
</div>

<div
  class="container mx-auto px-4 md:w-8/12 bg-sky-200 pb-8 pr-5 pl-5 pt-4 mt-4 border border-gray-200 rounded-lg shadow-md"
>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-5 py-3">Level 1</th>
          <th scope="col" class="px-4 py-3">Level 2</th>
          <th scope="col" class="px-4 py-3">Level 3</th>
          <th scope="col" class="px-4 py-3">Level 4</th>
          <th scope="col" class="px-4 py-3">Level 5</th>
          <th scope="col" class="px-4 py-3">Level 3</th>
          <th scope="col" class="px-6 py-3">Level 6</th>
          <th scope="col" class="px-6 py-3">Level 7</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
          ></th>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          ></td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          ></td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          >
            <span (click)="showDetails('Level4')"
              >management Technical Skills : 30 %</span
            >
          </td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          >
            <span (click)="showDetails('Level5')"
              >management Technical Skills : 30 %</span
            >
          </td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          >
            <span (click)="showDetails('Level6')"
              >management Technical Skills : 30 %</span
            >
          </td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          ></td>
          <td
            class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mx-auto md:w-8/12 pb-8 pr-5 pl-5 mt-4 rounded-lg">
  <div *ngIf="selectedMetal === 'Level1'" class="px-6 py-3">Silver Details</div>

  <div *ngIf="selectedMetal === 'Level2'" class="px-6 py-3">Silver Details</div>

  <div *ngIf="selectedMetal === 'Level3'" class="px-6 py-3">Silver Details</div>

  <div *ngIf="selectedMetal === 'Level4'" class="px-6 py-3">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-sky-200 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-center">Skill description</th>
            <th scope="col" class="px-6 py-3 text-center">add information</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4 text-center">
              <button
                (click)="showDialog()"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
              >
                Add Data
              </button>
              <p-toast></p-toast>
              <form>
                <p-dialog
                  header="Link"
                  [(visible)]="visible"
                  [style]="{ width: '50vw' }"
                >
                  <div class="pt-2">
                    <input
                      type="text"
                      id="link"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      required
                    />
                    
                    <div class="pt-3">
                      <button
                        (click)="saveAddLink()"
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </p-dialog>
              </form>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Microsoft Surface Pro
            </th>
            <td class="px-6 py-4 text-center">
              <button
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
              >
                Add Data
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="selectedMetal === 'Level5'" class="px-6 py-3">Silver Details</div>

  <div *ngIf="selectedMetal === 'Level6'" class="px-6 py-3">Silver Details</div>

  <div *ngIf="selectedMetal === 'Level7'" class="px-6 py-3">Silver Details</div>
</div>
