<div class="container mx-auto px-4 md:w-8/12 bg-sky-200 pb-8 pr-5 pl-5 border border-gray-200 rounded-lg shadow-md">
  <div class="grid justify-items-center">
    <div class="w-full p-6" *ngFor="let skill of skillDetails">
      <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
        {{ skill.skill_name }}
      </h5>
      <div>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          {{ skill.overall }}
        </p>
      </div>
    </div>

    <div class="w-full mx-5 md:mx-10 p-8 bg-white rounded-lg" *ngFor="let skill of skillDetails">
      <p class="font-normal text-gray-700 dark:text-gray-400 text-sm">
        {{ skill.note }}
      </p>
    </div>
  </div>
</div>

<div
  class="container mx-auto px-4 md:w-8/12 bg-sky-200 pb-8 pr-5 pl-5 pt-4 mt-4 border border-gray-200 rounded-lg shadow-md">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th *ngFor="let levelName of levelNames" scope="col" class="px-4 py-3">{{ levelName }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <ng-container *ngFor="let levelName of levelNames; let i = index">
            <td scope="row" class="px-6 py-4 text-gray-700 dark:text-gray-900 hover:underline">
              <span (click)="showDetails(levelName)">
                {{ skillDetails[0]?.skill_name }} Technical Skills : {{ skillDetails[0]?.levels[i]?.percentage }}%
              </span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mx-auto md:w-8/12 pb-8 pr-5 pl-5 mt-4 rounded-lg">
  <div class="px-6 py-3" *ngIf="selectedMetal">
    <div class=" overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-sky-200 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 text-center">Add information</th>
            <th scope="col" class="px-6 py-3 text-center">Skill description</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let description of selectedLevelDescriptions; let i = index">
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 text-center">
                <div *ngIf="information.length === 0 && !visible[i]"
                  class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-4 py-0.5 p-2 rounded dark:bg-red-900 dark:text-red-300">
                  <p>No information records available.</p>
                </div>
                <button (click)="showDialog(i)" (click)="checkLoginStatus()"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                  Add Data
                </button>
                <p-toast></p-toast>
                <form>
                  <p-dialog header="Link" [(visible)]="visible[i]" [style]="{ width: '50vw' }">
                    <form [formGroup]="updateForm">
                      <div class="pt-2">
                        <input type="text" id="link" formControlName="info_text" placeholder="กรอกหลักฐาน"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          required />

                        <div class="pt-3">
                          <button *ngIf="selectedDescriptionIndex !== null" (click)="saveAddLink()" type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Save
                          </button>


                        </div>
                      </div>
                    </form>
                  </p-dialog>
                </form>
              </td>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ selectedLevelDescriptions[i].description_text}}
              </th>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</div>