<div class="container max-w-screen-xl mx-auto mb-4">
    <div>
        <h5 class="text-center pb-2 text-xl font-semibold text-center">Download</h5>
        <p class="text-sm text-center pb-2 mt-2">SFIA 8 Documents</p>
    </div>

    <div class="grid justify-items-center">
        <div class="grid grid-cols-2 gap-4 pt-6">
            <div
                class="col-span-1 p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">SFIA 8 Summary Chart
                </h5>
                <p class="mb-3 font-normal text-xs text-gray-700 dark:text-gray-400">SFIA Summary chart - skills and
                    generic
                    attributes A summary chart of the SFIA professional skills on one side and the generic attributes on
                    the other. PDF format, sized at A3, optimised for on-screen viewing, live links, page 1 can be
                    printed A4.</p>
                <a (click)="downloadFile1()"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
                    Download
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div
                class="col-span-1 p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">About SFIA -
                    Guidance for the use of the SFIA standard.</h5>
                <p class="mb-3 font-normal text-xs text-gray-700 dark:text-gray-400">An overview of the SFIA skills and
                    competency framework and essential understanding for how it can be used in the management and
                    development of people and skills.</p>
                <a (click)="downloadFile2()"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
                    Download
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div
                class="col-span-1 p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">SFIA 8 skills and
                    responsibilities spreadsheet</h5>
                <p class="mb-3 font-normal text-xs text-gray-700 dark:text-gray-400">To help users incorporate SFIA into
                    their
                    own internal SFIA support tooling. It provides the content of the SFIA levels of responsibility, the
                    generic attributes (containing the behavioural factors and knowledge statements) and the
                    professional skills.</p>
                <a (click)="downloadFile3()"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
                    Download
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div
                class="col-span-1 p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">SFIA framework
                    reference - The SFIA standard</h5>
                <p class="mb-3 font-normal text-xs text-gray-700 dark:text-gray-400">The full description of the SFIA
                    levels of
                    responsibility, the generic attributes that define the SFIA levels, the behavioural factors,
                    knowledge statements and all the SFIA professional skills. This document has been optimised for
                    on-screen viewing - not for printing.</p>
                <a (click)="downloadFile4()"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
                    Download
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>