.spacer {
    flex: 1;
  }
  
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
}
    
.toolbar svg {
    margin: 0 20px;
}
    
.toolbar span {
    margin: 0 30px;
    font-size: 18px;
}  