<footer class="bg-sky-200 rounded-lg">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between pt-1">
            <a href="https://flowbite.com/" class="flex items-center mb-2 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/assets/images/logo_sfia.png" class="h-8" />
            </a>
            <ul class="flex flex-wrap items-center mb-4 text-xs font-medium text-gray-800 sm:mb-0 dark:text-gray-400">
                <li>
                    <a routerLinkActive="active" routerLink="" class="hover:underline me-4 md:me-6">Home</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/download" class="hover:underline me-4 md:me-6">Download</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/about" class="hover:underline">About
                        us</a>
                </li>
            </ul>
        </div>
        <hr class="my-2 border-1 border-gray-600 sm:mx-auto dark:border-gray-700 lg:my-4" />
        <span class="block text-xs text-gray-800 sm:text-center dark:text-gray-400">© 2023 <a href="http://www.ecpe.nu.ac.th/web/#" target="_blank" class="hover:underline">Department of Electrical and Computer Engineering Faculty of Engineering Naresuan University</a></span>
    </div>
</footer>

