<div class="leading-normal tracking-normal text-white gradient">

  <div class="container max-w-screen-xl mx-auto flex flex-wrap flex-col md:flex-row items-center justify-between">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left mt-3">
      <p class="uppercase tracking-loose w-full">What business are you?</p>
      <h1 class="my-4 text-3xl font-bold leading-tight">
        Main Hero Message to sell yourself!
      </h1>
      <p class="leading-normal text-lg mb-8">
        Sub-hero message, not too long and not too short. Make it just right!
      </p>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-2/5 flex justify-end">
      <img class="w-full md:w-4/5" src="/assets/images/home.svg" />
    </div>
  </div>

  <div class="relative -mt-12 lg:-mt-40">
    <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2.000000, 80.00000)" fill="#FFFFFF" fill-rule="nonzero">
          <path
            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
            opacity="0.100000001"></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"></path>
          <path
            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
            id="Path-4" opacity="0.200000003"></path>
        </g>
        <g transform="translate(-12.000000, 75.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
          </path>
        </g>
      </g>
    </svg>
  </div>

</div>

<div class="container max-w-screen-xl mx-auto mb-4">
  <div class="flex flex-col justify-center items-center md:flex-row ">
    <div
      class="w-full md:w-full mb-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <form class="flex flex-col justify-center items-center md:flex-row md:space-y-0 md:space-x-2">

        <div class="max-w-3xl">
          <label for="categoryDropdown" class="mb-2 font-semibold">Category:</label>
          <select id="categoryDropdown" [(ngModel)]="selectedCategory" (change)="onCategoryChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngModelOptions]="{standalone: true}">
            <option value="" disabled>Select a category</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
        </div>


        <div class="max-w-3xl">
          <label for="subcategoryDropdown" class="mb-2 font-semibold">Subcategy:</label>
          <select id="subcategoryDropdown" [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngModelOptions]="{standalone: true}" [disabled]="selectedCategory === ''">
            <option value="" disabled>All</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}
            </option>
          </select>
        </div>


        <!-- InputText and Submit Button -->
        <div class="md:w-full ">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-semibold">Search
            skill:</label>
          <div class="flex items-center">
            <label for="search" class="sr-only">Search</label>
            <div class="w-full">
              <input type="text" [(ngModel)]="searchSkill" [ngModelOptions]="{ standalone: true }" placeholder="Search"
                id="search"
                class="ng-invalid ng-dirty w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search ">
              <p *ngIf="isInvalidInput" class="text-red-500 text-xs">Please enter valid characters (Thai or
                English letters).</p>
            </div>
            <button type="submit" (click)="searchSkills()"
              class="ml-0 md:ml-0 mt-0 md:mt-0 w-full md:w-auto inline-flex items-center py-2.5 px-3 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Result Data -->
  <div class="flex flex-col justify-center items-center">
    <h2 class="my-1 text-xl font-bold text-center text-gray-800">
      All Skills
    </h2>
    <div class="w-full mb-2">
      <div class="h-1 mx-auto gradient w-48 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div
      class="w-full md:w-full p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 my-2"
      *ngFor="let result of searchResults | paginate: { itemsPerPage: pageSize, currentPage: currentPage}">
      <!-- แสดงข้อมูลรายการที่ได้จาก paginateResults() -->
      <h5 class="mb-1 ml-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ result.skill_name }}
      </h5>
      <div class="md:grid md:grid-cols-2">
        <div>
          <p class="ml-2 font-normal text-gray-700 dark:text-gray-400">{{ result.overall }}</p>
        </div>
        <div class="mt-4 ml-64 md:mt-0 md:col-start-2 md:col-end-3">
          <button type="button" (click)="viewSkillDetail(result.codeskill)"
            class="w-full h-full text-white bg-blue-700 hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:focus:ring-blue-800">Read
            more</button>
        </div>
      </div>
    </div>
    <div *ngIf="searchResults.length === 0"
      class="w-full md:w-full py-8 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500 my-2 text-center shadow-md">
      No data available in table.
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-center items-center mt-3">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>

</div>