<div class="container max-w-screen-xl mx-auto p-2 mb-3 ">
  <h5 class="text-center text-xl font-semibold">Portfolio</h5>
  <div class="grid grid-cols-2 gap-3 pt-6">
    <div class="col-span-1 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <app-education></app-education>
    </div>
    <div class="col-span-1 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <app-experience></app-experience>
    </div>
    <div class="col-span-1 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <app-link></app-link>
    </div>
    <div class="col-span-1 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <app-job></app-job>
    </div>
  </div>
  <div class="grid justify-items-center pt-4">
    <button type="button" routerLink="/portfolio-information"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Export</button>
  </div>
</div>
<p-toast></p-toast>