<div class="container max-w-screen-xl mx-auto mb-5 mt-8">
  <h5 class="text-xl text-center font-extrabold pb-2">History</h5>
  <div class="w-full mb-2">
    <div class="h-1 mx-auto gradient w-44 opacity-40 my-0 py-0 rounded-t"></div>
  </div>
  <!--dropdown select -->  

  <div class="relative inline-block text-left">
    <div>
      <button (click)="toggleDropdown()" type="button" class="inline-flex w-64 justify-between gap-x-1.5 rounded-md bg-gray-50 px-3 py-2.5 text-sm font-semibold text-gray-900 border-1 border-gray-100 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        {{ selectedSkill || 'All Skills' }} <!-- แสดงค่าที่เลือก หรือ 'All Skills' ถ้ายังไม่มีการเลือก -->
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div *ngIf="isDropdownVisible" class="absolute z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div (click)="selectSkill('')" class="text-gray-700 block px-4 py-2 text-sm active:bg-gray-100  hover:bg-gray-100 cursor-pointer">
        All Skills
      </div>
      <div *ngFor="let skillAndLevel of dropdownSkillUnique" class="py-1" role="none" >
        <!-- Use dropdownSkillUnique for filter dropdown -->
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <div (click)="selectSkill(skillAndLevel.skillName === 'All Skills' ? 'All Skills' : skillAndLevel.skillName)" class="text-gray-700 block px-4 py-2 text-sm active:bg-gray-100 text-gray-900 hover:bg-gray-100 text-gray-900 cursor-pointer">
          {{ skillAndLevel.skillName }}
        </div>
      </div>      
    </div>
  </div>

  <!--table data -->
  <div class="grid grid-cols-12 gap-4 pt-4">
    <div class="col-span-12 rounded-sm bg-white xl:col-span-8 border border-slate-400">
      <div class="overflow-x-auto">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border-collapse border border-slate-400">
          <thead class="text-xs text-gray-700 uppercase bg-sky-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Skill</th>
              <th scope="col" class="px-6 py-3">Level</th>
              <th scope="col" class="px-6 py-3">Percentage</th>
            </tr>
          </thead>
          <tbody *ngFor="let skillAndLevel of (selectedSkill ? filteredSkillsAndLevels : allSkillsAndLevels) | paginate: { itemsPerPage: pageSize, currentPage: currentPage}">
            <tr>
              <th (click)="clickToDetail(skillAndLevel.codeSkill, skillAndLevel.levelName)" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white hover:text-rose-600 cursor-pointer">
                {{ skillAndLevel.skillName }} ({{skillAndLevel.codeSkill}})
              </th>
              <td class="px-6 py-4 ">{{ skillAndLevel.levelName }}</td>
              <td class="px-6 py-4 ">{{ skillAndLevel.percentage }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center items-center mt-3">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
    <!-- <div *ngFor="let skillAndLevel of allSkillsAndLevels">
      ({{skillAndLevel.codeSkill}}), {{ skillAndLevel.levelName }}, {{ skillAndLevel.percentage }}
    </div> -->
    <div id="chart"
      class="col-span-12 rounded-2xl border border-stroke bg-white xl:col-span-4 grid ">
      <h5 class="text-base text-center font-semibold pt-3">Chart of CodeSkill</h5>
        <apx-chart
        [series]="spiderChartOptions.series"
        [chart]="spiderChartOptions.chart"
        [xaxis]="spiderChartOptions.xaxis"
      ></apx-chart>
    </div>

    <div class="col-span-12 p-3 rounded-sm border border-stroke bg-white grid">
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [grid]="chartOptions.grid"
    ></apx-chart>
    
    </div>
  </div>
</div>